.xGrid line {
    stroke: grey;
    stroke-dasharray: 2,3; /*dash length, space length*/
    opacity: 0.7;
}

.yGrid line {
    stroke: grey;
    stroke-dasharray: 2,3;
    opacity: 0.7;
}

.bChart circle {
    stroke: black;
    opacity: 0.6;
}

.bChart text {
    font-size: 12px;
    font-family: Verdana;
    visibility: hidden;
    text-anchor: middle;
}
.bChart:hover circle {
    opacity: 1;
}

.bChart:hover text {
    visibility: visible;
}

#dropDown {
    font-family: Verdana;
}

.legend text {
    font-family: Verdana;
}

.bData text {
    font-size: 12px;
    font-family: Verdana;
    visibility: hidden;
    text-anchor: middle;
}


.bData.hovered text {
    visibility: visible;
}

/*.bData image {
    visibility: visible;
}

.bData.hovered image {
    visibility: visible;
}*/

.block.filtered {
    fill: orange;
}

.dot.hidden {
    opacity: 0.1; 
}